<main>

    <h1 appLetterWiggle>About me!</h1>
    <p appLetterWiggle>
        Hello! I’m Jayce Olson, a software engineer who loves using code to solve real-world problems.


        Hello! I’m Jayce Olson, a software engineer who loves using code to solve real-world problems.

        I’ve worked with a variety of languages and frameworks—if you scroll down, you’ll see a list of the
        ones I’ve learned so far. My background includes a Bachelor of Science in Software Engineering, along
        with certifications in Amazon AWS and ITIL 4 Foundations.

        For privacy reasons, I don’t have my resume posted here, but if you’d like to see it, just click the button
        below to reach out. I’d be happy to share it! Even if you’re not looking for my resume, I always enjoy
        connecting
        with others who are also passionate about technology. Feel free to say hi!
    </p>
    <app-contact-button />
</main>