<main>

    <h1 appLetterWiggle>About me!</h1>
    <p appLetterWiggle>Hello! I am Jayce Olson. I’m a passionate software engineer who believes in the power of code to
        solve real-world problems.
        I have experience with a wide variety of languages, and frameworks. In fact, if you scroll down you
        will get to see just how many! My education consists of a Bachelor of Science in Software Engineering, an
        Amazon AWS certification, and an ITIL 4
        foundations certification. For privacy reasons I don't have my resume listed on this site, but if you would like
        to see it, feel free to click the
        button below to contact me. I would love to hear from you! Even if you have no interest in my resume, I still
        love to talk with people who share the
        same passion as I do.
    </p>
    <app-contact-button />
</main>