<!-- <h1>projects I've built during my learning journey:</h1> -->
<main>
    <h1 class="project-header" appLetterWiggle>Projects I have made during my learning journey:</h1>
    <section class="grid--container">

        <!-- 1 -->
        <div class="grid--cell">
            <article class="grid--item">

                <div class="preview--container">
                    <a class="preview-image--container">
                        <div class="preview-image"></div>
                    </a>

                    <div class="meta--container">
                        <a class="issue">Hours:</a>
                        <a class="page">200+</a>
                    </div>
                </div>

                <div class="content--container">
                    <div class="title--container">
                        <a class="title--text">Gmail Cleaner Web App</a>
                    </div>

                    <div class="tags--overflow-container">
                        <ul class="tags--container">
                            <li><a class="tag">Vue.js</a></li>
                            <li><a class="tag">JavaScript</a></li>
                            <li><a class="tag">Google API</a></li>
                            <li><a class="tag">mySql</a></li>
                            <li><a class="tag">AWS</a></li>
                            <li><a class="tag">Full Stack</a></li>
                        </ul>
                    </div>

                    <div class="hover--options">

                        <a class="series button" target="_blank">
                            <span class="icon-title"><i class="fad fa-books"></i> Demo</span>
                            <span class="new-tab"><i class="fas fa-arrow-circle-right"></i></span>
                        </a>

                        <a href="https://github.com/Jayce-Olson" class="latest button" target="_blank">
                            <span class="icon-title"><i class="far fa-image"></i> Github</span>
                            <span class="new-tab"><i class="fas fa-arrow-circle-right"></i></span>
                        </a>


                    </div>
                </div>

            </article>
        </div>

        <!-- 2 -->
        <div class="grid--cell">
            <article class="grid--item">

                <div class="preview--container">

                    <a class="preview-image--container">
                        <div class="preview-image"></div>
                    </a>

                    <div class="meta--container">
                        <a class="issue">Hours:</a>
                        <a class="page">10</a>
                    </div>

                </div>

                <div class="content--container">

                    <div class="title--container">
                        <a class="title--text">Angular World Map</a>
                    </div>

                    <div class="tags--overflow-container">
                        <ul class="tags--container">
                            <li><a class="tag">Angular</a></li>
                            <li><a class="tag">World Bank API</a></li>
                            <li><a class="tag">Firebase</a></li>
                            <li><a class="tag">Typescript</a></li>
                        </ul>
                    </div>

                    <div class="hover--options">

                        <a class="series button" href="https://angular-world-map.web.app/" target="_blank">
                            <span class="icon-title"><i class="fad fa-books"></i>Demo</span>
                            <span class="new-tab"><i class="fas fa-arrow-circle-right"></i></span>
                        </a>

                        <a class="latest button" href="https://github.com/Jayce-Olson/Angular-World-Map"
                            target="_blank">
                            <span class="icon-title"><i class="far fa-image"></i>Github</span>
                            <span class="new-tab"><i class="fas fa-arrow-circle-right"></i></span>
                        </a>
                    </div>
                </div>

            </article>
        </div>

        <!-- 3 -->
        <div class="grid--cell">
            <article class="grid--item">

                <div class="preview--container">

                    <a class="preview-image--container">
                        <div class="preview-image"></div>
                    </a>

                    <div class="meta--container">
                        <a class="issue">Hours:</a>
                        <a class="page">150+</a>
                    </div>

                </div>

                <div class="content--container">

                    <div class="title--container">
                        <a class="title--text">This portfolio Site</a>
                    </div>

                    <div class="tags--overflow-container">
                        <ul class="tags--container">
                            <li><a class="tag">Angular</a></li>
                            <li><a class="tag">Go</a></li>
                            <li><a class="tag">AWS</a></li>
                            <li><a class="tag">Telegram API</a></li>
                        </ul>
                    </div>

                    <div class="hover--options">

                        <!-- <a class="series button">
                            <span class="icon-title"><i class="fad fa-books"></i>Demo (you are allready here)</span>
                            <span class="new-tab"><i class="fas fa-arrow-circle-right"></i></span>
                        </a> -->

                        <a class="latest button">
                            <span class="icon-title"><i class="far fa-image"></i>Github</span>
                            <span class="new-tab"><i class="fas fa-arrow-circle-right"></i></span>
                        </a>
                    </div>
                </div>

            </article>
        </div>

        <!-- 4 -->
        <div class="grid--cell">
            <article class="grid--item">

                <div class="preview--container">

                    <a class="preview-image--container">
                        <div class="preview-image"></div>
                    </a>

                    <div class="meta--container">
                        <a class="issue">Hours:</a>
                        <a class="page">In progress...</a>
                    </div>

                </div>

                <div class="content--container">

                    <div class="title--container">
                        <a class="title--text">Software Capstone - Coming Soon</a>
                    </div>

                    <div class="tags--overflow-container">
                        <ul class="tags--container">
                            <li><a class="tag">This</a></li>
                            <li><a class="tag">Site</a></li>
                            <li><a class="tag">Is</a></li>
                            <li><a class="tag">Still</a></li>
                            <li><a class="tag">In</a></li>
                            <li><a class="tag">Progress</a></li>
                        </ul>
                    </div>

                    <div class="hover--options">

                        <a class="series button">
                            <span class="icon-title"><i class="fad fa-books"></i> Series</span>
                            <span class="new-tab"><i class="fas fa-arrow-circle-right"></i></span>
                        </a>

                        <a class="latest button">
                            <span class="icon-title"><i class="far fa-image"></i> Latest</span>
                            <span class="new-tab"><i class="fas fa-arrow-circle-right"></i></span>
                        </a>
                    </div>
                </div>

            </article>
        </div>

    </section>
</main>