<!-- <h1>projects I've built during my learning journey:</h1> -->
<main>
    <h1 class="project-header" appLetterWiggle>Projects I have made during my learning journey:</h1>
    <section class="grid--container">

        <!-- 1 -->
        <div class="grid--cell">
            <article class="grid--item">

                <div class="preview--container">
                    <a href="#" class="preview-image--container">
                        <div class="preview-image"></div>
                    </a>

                    <div class="meta--container">
                        <a class="issue">hours:</a>
                        <a class="page">200+</a>
                    </div>
                </div>

                <div class="content--container">
                    <div class="title--container">
                        <a class="title--text" href="#">Gmail Cleaner Web App</a>
                    </div>

                    <div class="tags--overflow-container">
                        <ul class="tags--container">
                            <li><a href="#" class="tag">Vue.js</a></li>
                            <li><a href="#" class="tag">JavaScript</a></li>
                            <li><a href="#" class="tag">Google API</a></li>
                            <li><a href="#" class="tag">mySql</a></li>
                            <li><a href="#" class="tag">AWS</a></li>
                            <li><a href="#" class="tag">Full Stack</a></li>
                        </ul>
                    </div>

                    <div class="hover--options">

                        <a href="" class="series button" target="_blank">
                            <span class="icon-title"><i class="fad fa-books"></i> Demo</span>
                            <span class="new-tab"><i class="fas fa-arrow-circle-right"></i></span>
                        </a>

                        <a href="https://github.com/Jayce-Olson" class="latest button" target="_blank">
                            <span class="icon-title"><i class="far fa-image"></i> Github</span>
                            <span class="new-tab"><i class="fas fa-arrow-circle-right"></i></span>
                        </a>


                    </div>
                </div>

            </article>
        </div>

        <!-- 2 -->
        <div class="grid--cell">
            <article class="grid--item">

                <div class="preview--container">

                    <a href="#" class="preview-image--container">
                        <div class="preview-image"></div>
                    </a>

                    <div class="meta--container">
                        <a href="#" class="issue">Issue XX</a>
                        <a href="#" class="page">Page YY</a>
                    </div>

                </div>

                <div class="content--container">

                    <div class="title--container">
                        <a class="title--text" href="#">Coming Soon</a>
                    </div>

                    <div class="tags--overflow-container">
                        <ul class="tags--container">
                            <li><a href="#" class="tag">Volutpat</a></li>
                            <li><a href="#" class="tag">Scelerisque</a></li>
                            <li><a href="#" class="tag">Turpis Galo</a></li>
                            <li><a href="#" class="tag">Quisus</a></li>
                            <li><a href="#" class="tag">At Tempo</a></li>
                            <li><a href="#" class="tag">Distincto a Tet</a></li>
                        </ul>
                    </div>

                    <div class="hover--options">

                        <a href="#" class="series button">
                            <span class="icon-title"><i class="fad fa-books"></i> Series</span>
                            <span class="new-tab"><i class="fas fa-arrow-circle-right"></i></span>
                        </a>

                        <a href="#" class="latest button">
                            <span class="icon-title"><i class="far fa-image"></i> Latest</span>
                            <span class="new-tab"><i class="fas fa-arrow-circle-right"></i></span>
                        </a>
                    </div>
                </div>

            </article>
        </div>

        <!-- 3 -->
        <div class="grid--cell">
            <article class="grid--item">

                <div class="preview--container">

                    <a href="#" class="preview-image--container">
                        <div class="preview-image"></div>
                    </a>

                    <div class="meta--container">
                        <a href="#" class="issue">Issue XX</a>
                        <a href="#" class="page">Page YY</a>
                    </div>

                </div>

                <div class="content--container">

                    <div class="title--container">
                        <a class="title--text" href="#">Coming soon</a>
                    </div>

                    <div class="tags--overflow-container">
                        <ul class="tags--container">
                            <li><a href="#" class="tag">Gravidas</a></li>
                            <li><a href="#" class="tag">Dipisci Triste</a></li>
                            <li><a href="#" class="tag">Odio Aenean</a></li>
                            <li><a href="#" class="tag">Urna</a></li>
                            <li><a href="#" class="tag">Lista e Fortna</a></li>
                            <li><a href="#" class="tag">Vuisi</a></li>
                            <li><a href="#" class="tag ellipsis"><i class="far fa-ellipsis-h"></i></a></li>
                        </ul>
                    </div>

                    <div class="hover--options">

                        <a href="#" class="series button">
                            <span class="icon-title"><i class="fad fa-books"></i> Series</span>
                            <span class="new-tab"><i class="fas fa-arrow-circle-right"></i></span>
                        </a>

                        <a href="#" class="latest button">
                            <span class="icon-title"><i class="far fa-image"></i> Latest</span>
                            <span class="new-tab"><i class="fas fa-arrow-circle-right"></i></span>
                        </a>
                    </div>
                </div>

            </article>
        </div>

        <!-- 4 -->
        <div class="grid--cell" style="width:0 !important;">
            <!-- <article class="grid--item"> -->

            <!-- <div class="preview--container"> -->


            <!-- </div> -->


            <!-- </div> -->
        </div>

    </section>
</main>