@property --memberRotation {
    syntax: "<number>";
    initial-value: 0;
    inherits: true;
  }
  * { box-sizing: border-box; margin: 0; padding: 0 }
  ul.team{
    width: 80vmin;
    list-style: none;
    
    aspect-ratio: 1/1;
    border-radius: 50%;
    animation: memberRotation 30s linear infinite;
  
    > li {
      offset-path: border-box;
      offset-distance: calc(100% / var(--member-count) * var(--member-idx) + (var(--memberRotation) * 100%));
      width: calc(100% / (1 + (1 / sin(180deg / var(--member-count)))));
      position: relative;
      > img {
        position: absolute;
        /* width: 100%; */
        /* border: 5px solid #1E90FF; */
        scale: .8;
        width: 100%;
        
        /* height: 100%; */
      aspect-ratio: 1/1;  
      object-fit: contain;
        /* border-radius: 50%; */
        rotate: calc(-360deg / var(--member-count) * var(--member-idx) - (360deg * var(--memberRotation)))
      }
    }
    &:has(img:hover){
      
    }
  }
  
  @keyframes memberRotation {
    to { --memberRotation: 1 }
  }

  img {
    transition: transform 1s ease-in;  
    z-index: 1;
  }
  
  img:hover {
    transform: scale(1.25);
    transition: transform 0.5s ease-out; 
    z-index:10; 
  }
  

  main{
    padding: 2rem;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: cursive;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

  .left-column {
    max-width: 50%;
    padding-right: 2rem;
}

.right-column {
    width:50%;
    display: flex;             
    justify-content: center;    
    align-items: center;
}

p {
  font-size: 1.125rem;
  line-height: 1.8;
  margin-bottom: 2rem;
  text-align: justify;
  letter-spacing: 0.5px;
  color: var(--text-color);    
  overflow-wrap: break-word;
  white-space: wrap;
}


p > p > p{
  white-space: nowrap;
  display: inline; 
margin: 0; 
padding: 0;
}

/* The above and below are to stop the words from wrapping to the next line in the middle of the word. Since the characters are wrapped in spans I had this 
 problem. I wrapped the word in paragraph tags and then had the below css applied to the child paragraphs of the main paragraph tag */
p > p{
  white-space: wrap;
  display: inline-block; 
margin: 0; 
padding: 0;
}

[appLetterWiggle] span {
  display: inline-block;
  color: var(--text-color);
  transition: color 0.3s ease;
}

@keyframes jump {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-1rem);
  }
  100% {
      transform: translateY(0);
  }
}

.jump-animation {
  animation: jump 0.5s forwards;
}