<main>
        <div class="container">
                <div class="left-column">
                        <ul class="team" style="--member-count: 10">
                                <li style="--member-idx: 0"><img src="assets\icons\html5.svg" alt="HTML5"
                                                draggable="false">
                                </li>
                                <li style="--member-idx: 1"><img src="assets\icons\CSS3.svg.png" alt="CSS3"
                                                draggable="false">
                                </li>
                                <li style="--member-idx: 2"><img src="assets\icons\javascript-icon.png" alt="JavaScript"
                                                draggable="false">
                                </li>
                                <li style="--member-idx: 3"><img src="assets\icons\Typescript_logo_2020.svg.png"
                                                alt="TypeScript" draggable="false"></li>
                                <li style="--member-idx: 4"><img src="assets\icons\react-icon.png" alt="React"
                                                draggable="false"></li>
                                <li style="--member-idx: 5"><img src="assets\icons\vue-icon.png" alt="Vue.js"
                                                draggable="false">
                                </li>
                                <li style="--member-idx: 6"><img src="assets\icons\C_Programming_Language.svg.png"
                                                alt="C" draggable="false"></li>
                                <li style="--member-idx: 7"><img src="assets\icons\Angular_full_color_logo.svg.png"
                                                alt="Angular" draggable="false"></li>
                                <li style="--member-idx: 8"><img src="assets\icons\python-icon.png" alt="Python"
                                                draggable="false"></li>
                                <li style="--member-idx: 9"><img src="assets\icons\mySQL-icon.png" alt="SQL"
                                                draggable="false">
                                </li>
                        </ul>
                </div>
                <div class="right-column">
                        <p appLetterWiggle>I have hands-on experience with HTML5, CSS,
                                JavaScript, and TypeScript, along with popular frameworks
                                like Angular, Vue, and React, enabling me to build dynamic,
                                responsive web applications. Beyond web development, I’m also
                                proficient in SQL, particularly with MySQL, as well as in Python
                                and C/C++ for broader programming tasks. Scroll down to explore
                                more of the technologies I've worked with!

                        </p>
                </div>
        </div>
        <div class="container">
                <div class="left-column">
                        <p appLetterWiggle>During my studies, I have gained hands-on experience with deploying
                                applications to the cloud, using Docker,
                                developing responsive and beautiful frontends with Bootstrap and Tailwind, and building
                                quality backend
                                systems with Spring Boot in Java. Additionally, I have acquired skills in creating
                                Android applications using Android
                                SDK. In my personal time I have also explored and developed a strong interest in the Go
                                programming language.
                        </p>
                </div>
                <div class="right-column">
                        <ul class="team" style="--member-count: 10">
                                <li style="--member-idx: 0"><img src="assets\icons\spring-icon.png" alt="Spring Boot"
                                                draggable="false">
                                </li>
                                <li style="--member-idx: 1"><img src="assets\icons\java-icon.png" alt="Java"
                                                draggable="false">
                                </li>
                                <li style="--member-idx: 2"><img src="assets\icons\docker-icon-512x370-5593ilur.png"
                                                alt="Docker" draggable="false"></li>
                                <li style="--member-idx: 3"><img src="assets\icons\Bootstrap_logo.svg" alt="Bootstrap"
                                                draggable="false">
                                </li>
                                <li style="--member-idx: 4"><img src="assets\icons\go-gopher.svg" alt="Go"
                                                draggable="false">
                                </li>
                                <li style="--member-idx: 5"><img src="assets\icons\Git_icon.svg.png" alt="Firebase"
                                                draggable="false"></li>
                                <li style="--member-idx: 6"><img src="assets\icons\Tailwind_CSS_Logo.svg.png"
                                                alt="Tailwind CSS" draggable="false">
                                </li>
                                <li style="--member-idx: 7"><img src="assets\icons\aws-icon-2048x2048-274bm1xi.png"
                                                alt="AWS" draggable="false"></li>
                                <li style="--member-idx: 8"><img
                                                src="assets\icons\google-cloud-icon-2048x1646-7admxejz.png"
                                                alt="Google Cloud" draggable="false">
                                </li>
                                <li style="--member-idx: 9"><img src="assets\icons\android-icon.png" alt="Android SDK"
                                                draggable="false">
                                </li>
                        </ul>
                </div>
        </div>
</main>